<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
  <tr>
    <td class="k-pad" style="padding:22px 32px 20px 32px;border-left:1px solid #D8D8D8;border-right:1px solid #D8D8D8;border-bottom:1px solid #D8D8D8;">
      <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
          <td valign="middle" style="vertical-align:middle;">
            <a href="{{urls.home}}" target="_blank" style="display:inline-block;">
              <img src="@@ASSETS@@/logo-horizontal@2x.png" width="160" height="20" alt="Kolleris" style="display:block;width:160px;height:20px;border:0;">
            </a>
          </td>
          <td valign="middle" align="right" class="k-hide" style="vertical-align:middle;text-align:right;">
            <a href="{{urls.shop}}" target="_blank" class="mono" style="$link-mono$">web.kolleris.com</a>
            <span style="$link-mono$color:#EA3E39;">&nbsp;/&nbsp;</span>
            <a href="{{urls.account}}" target="_blank" class="mono" style="$link-mono$color:#1F1F1F;">Ο λογαριασμός μου</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
