<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
  <tr>
    <td valign="top" style="vertical-align:top;">
      <p class="mono" style="$eyebrow-red$">$kicker$</p>
      <h1 class="k-h1" style="$h1$">$title$</h1>
    </td>
  </tr>
  <tr>
    <td style="padding:4px 0 0 0;">
      <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="border:1px solid #D8D8D8;">
        <tr>
          <td class="k-col k-head-cell" valign="top" width="40%" style="padding:14px 16px;border-right:1px solid #D8D8D8;vertical-align:top;">
            <p class="mono" style="$eyebrow$margin-bottom:2px;">Παραγγελια</p>
            <p class="mono" style="$mono-lg$">{{order.number}}</p>
          </td>
          <td class="k-col k-head-cell" valign="top" width="30%" style="padding:14px 16px;border-right:1px solid #D8D8D8;vertical-align:top;">
            <p class="mono" style="$eyebrow$margin-bottom:2px;">Ημερομηνια</p>
            <p class="mono" style="$mono$">{{order.date}}</p>
          </td>
          <td class="k-col k-head-cell k-head-last" valign="top" width="30%" style="padding:14px 16px;vertical-align:top;">
            <p class="mono" style="$eyebrow$margin-bottom:2px;">Κατασταση</p>
            <p style="margin:0;"><span class="mono" style="$badge$">● $status$</span></p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
